* {
    -webkit-tap-highlight-color: transparent;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

html, body {
    height: 100%;
    overflow: auto;
    background-color: #222;
    color: #ccc;
}

body {
    margin: 0;
}

input, button {
    background-color: #444;
    color: #ccc;
    border-radius: .25rem;
    padding: 5px;
}

input {
    border: 1px solid #444;
    margin: 5px;
}

input:focus {
    box-shadow: 0 0 0 0.15rem #555;
    outline: 0;
}

button {
    border: 1px solid transparent;
}

button:focus {
    background-color: #333;
    outline: 0;
}

#c {
    display: block;
    margin: auto;
    user-select: none;
    touch-action: none;
    width: 300px;
    height: 300px;
}

#w {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    padding: 10px;
}

#t {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 750px;
    table-layout: fixed;
    border-spacing: 5px;
}

#t tr {
    height: 2.2rem;
}

#t td {
    border-radius: .25rem;
    background-color: #333;
    font-size: 0.9em;
}

#t td.found {
    border: 3px solid #141;
    background-color: #141;
    color: #c0f0d0;
}

#t td.not-found {
    /*
    background-color: #522;
    color: #ffc0c0;
*/
}

tr {
    height: 2em;
}

td {
    padding-left: 10px;
}

div.info {
    overflow: auto;
    margin: 10px;
    display: flex;
}

div.info .col-l {
    flex: 1 0 0;
    text-align: left;
}

div.info .col-c {
    flex: 1 0 0;
    text-align: center;
}

div.info .col-r {
    flex: 1 0 0;
    text-align: right;
}
